@import "../../../../assets/styles/_variables.scss";
@import "../../../../assets/styles/_mixins.scss";

.articles-item {
  width: 291px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  position: relative;

  .articles-item-wrapper {
    .articles-item-img {
      width: 100%;
      height: 291px;
      margin-bottom: 15px;
      border-radius: 5px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .articles-item-title {
      @include head-montserrat-20;
      margin-bottom: 20px;
    }

    .articles-item-text {
      font-size: 14px;
      line-height: 130%;
      color: $dark-blue;
    }
  }

  .articles-item-link {
    color: $blue;
    font-size: 16px;

    a {
      border-bottom: 1px solid $blue;
    }
  }

  .articles-item-category {
    position: absolute;
    top: 10px;
    right: 9px;
    font-size: 14px;
    color: $blue;
    padding: 10px 18px;
    border-radius: 5px;
    background-color: $white;
  }
}
