<li class="articles-item">
    <section class="articles-item-wrapper">
        <section class="articles-item-img" style="background-image: url({{serverStaticPath + article.image}})">
        </section>
        <section class="articles-item-title">
            {{article.title}}
        </section>
        <section class="articles-item-text">
            {{article.description}}
        </section>
    </section>
    <section class="articles-item-link">
        <a>Читать дальше</a>
    </section>
</li>