<section class="blog">
    <section class="container">
        <h1 class="blog-title">Блог</h1>

        <section class="blog-head">
            <section class="blog-applied-filters">
                <section class="blog-applied-filter" *ngFor="let filter of appliedFilters">
                    <span>{{filter.name}}</span>
                    <a (click)="removeAppliedFilter(filter)">
                        <svg width="14.000000" height="14.225830" viewBox="0 0 14 14.2258" fill="none"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <line id="Line 4" x1="0.581970" y1="0.522217" x2="13.309891" y2="13.250122" stroke="#709FDC"
                                stroke-opacity="1.000000" stroke-width="1.000000" />
                            <line id="Line 5" x1="13.277161" y1="0.502075" x2="0.549240" y2="13.229980" stroke="#709FDC"
                                stroke-opacity="1.000000" stroke-width="1.000000" />
                        </svg>
                    </a>
                </section>
            </section>

            <section class="catalog-filter" [class.open]="filtersOpen" (click)="toggleFilters($event)">
                <section class="catalog-filter-head">
                    <span>Фильтр</span>
                    <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.0003 14.5C9.41693 14.5 8.83359 14.275 8.39193 13.8334L2.95859 8.40003C2.71693 8.15837 2.71693 7.75837 2.95859 7.5167C3.20026 7.27503 3.60026 7.27503 3.84193 7.5167L9.27526 12.95C9.67526 13.35 10.3253 13.35 10.7253 12.95L16.1586 7.5167C16.4003 7.27503 16.8003 7.27503 17.0419 7.5167C17.2836 7.75837 17.2836 8.15837 17.0419 8.40003L11.6086 13.8334C11.1669 14.275 10.5836 14.5 10.0003 14.5Z"
                            fill="#2C2C2C" />
                    </svg>
                </section>

                <section class="catalog-filter-body">
                    <section class="catalog-sorting-item" *ngFor="let filter of filters">
                        {{filter.name}}
                    </section>
                </section>
            </section>
        </section>

        <section class="blog-articles">
            <article-card *ngFor="let article of articles" [article]="article"></article-card>
        </section>

    </section>
</section>