<header class="header">
    <section class="container">
        <a routerLink="/" class="logo">
            <img src="./assets/images/logo.png" alt="logo">
        </a>

        <nav class="header-menu">
            <ul class="menu-list">
                <li><a routerLink="/">Услуги</a></li>
                <li><a routerLink="/about">О нас</a></li>
                <li><a routerLink="/articles">Статьи</a></li>
                <li><a routerLink="/reviews">Отзывы</a></li>
                <li><a routerLink="/contact">Контакты</a></li>
            </ul>
        </nav>

        <a href="tel:+7 (499) 343-13-34" class="phone">+7 (499) 343-13-34</a>

        <button class="header-btn">
            <svg width="21.299805" height="20.920044" viewBox="0 0 21.2998 20.92" fill="none"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path id="Vector"
                    d="M7.64 0.65C2.64 0.65 0.64 2.65 0.64 7.65L0.64 13.65C0.64 17.43 1.78 19.5 4.51 20.27C4.72 17.67 7.39 15.62 10.64 15.62C13.89 15.62 16.56 17.67 16.78 20.27C19.51 19.5 20.64 17.43 20.64 13.65L20.64 7.65C20.64 2.65 18.64 0.65 13.64 0.65L7.64 0.65ZM7.06 9.23C7.06 7.25 8.66 5.65 10.64 5.65C12.62 5.65 14.23 7.25 14.23 9.23C14.23 11.21 12.62 12.82 10.64 12.82C8.66 12.82 7.06 11.21 7.06 9.23Z"
                    stroke="#071739" stroke-opacity="1.000000" stroke-width="1.300000" stroke-linejoin="round" />
            </svg>
            <span>Войти</span>
        </button>
    </section>
</header>