<section class="signup" [formGroup]="signupForm" passwordRepeat>
    <section class="container">

        <form class="auth-form">
            <h1 class="auth-title">Регистрация на сайте</h1>

            <section class="auth-inputs">
                <section class="auth-input">
                    <input type="text" class="input"
                        [ngStyle]="{'border-color': email?.invalid && (email?.touched || email?.dirty) ? 'tomato' : ''}"
                        placeholder="Электронная почта" formControlName="email">
                </section>

                <section class="auth-input">
                    <input type="password" class="input"
                        [ngStyle]="{'border-color': password?.invalid && (password?.touched || password?.dirty) ? 'tomato' : ''}"
                        placeholder="Пароль" formControlName="password">
                </section>

                <section class="auth-input">
                    <input type="password" class="input"
                        [ngStyle]="{'border-color': passwordRepeat?.invalid && (passwordRepeat?.touched || passwordRepeat?.dirty) ? 'tomato' : ''}"
                        placeholder="Повторите пароль" formControlName="passwordRepeat">
                </section>

                <section class="auth-checkbox">
                    <input type="checkbox" class="checkbox" id="agree" formControlName="agree">
                    <label for="agree">Я принимаю <a href="#">условия пользовательского соглашения</a> и даю <a
                            href="#">согласие на обработку персональных данных.</a></label>
                </section>
            </section>

            <section class="auth-button">
                <button class="button" [disabled]="signupForm.invalid" (click)="signup()">Зарегистрируйтесь</button>
            </section>

            <section class="auth-links">
                <span>Уже есть аккаунт?</span>
                <a routerLink="/login">Войдите</a>
            </section>
        </form>

        <section class="page-image">
            <img src="./assets/images/auth/signup.png" alt="signup">
        </section>

    </section>
</section>