@import "variables";
@import "fonts";

.auth-form {
  &.auth-form-login {
    margin-top: 14px;
  }

  .auth-title {
    font-family: $font-lora;
    font-size: 36px;
    color: $blue;
    margin-bottom: 35px;
  }

  .auth-inputs {
    margin-bottom: 40px;

    .auth-input {
      margin-bottom: 5px;

      input {
        color: $dark-blue;
      }
    }

    .auth-checkbox {
      padding-top: 5px;
      max-width: 422px;
      display: flex;
      align-items: baseline;
      gap: 10px;

      label {
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0%;

        a {
          color: $blue;
          text-decoration: underline;
        }
      }
    }
  }

  .auth-button {
    margin-top: 30px;

    button.button {
      width: 422px;
    }
  }

  .auth-links {
    margin-top: 10px;
    font-size: 14px;
    color: $dark-blue;

    a {
      margin-left: 7px;
      color: $blue;
    }
  }
}
