.popup {
  padding: 70px 128px 62px;
  position: relative;

  .popup-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 422px;

    &.success {
      width: 471px;
      align-items: center;
      padding: 69px 14px 77px;
    }

    .popup-title {
      @include head-lora-38;
      text-align: center;
      margin-bottom: 15px;
    }

    .popup-button {
      margin-top: 15px;
      width: 100%;
    }

    .popup-input {
      input {
        color: $blue;
      }
    }

    .popup-text {
      font-family: $font-montserrat-medium;
      text-align: center;
      font-size: 14px;
    }

    .popup-button-success {
      width: 73px;
      margin-top: 35px;
    }
  }

  .popup-error {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: tomato;
    text-wrap: nowrap;
  }

  .popup-close {
    position: absolute;
    cursor: pointer;
    top: 6px;
    right: 6px;
  }
}
